<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Прототип интернет-магазина</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <header class="header">
            <div class="sort">
                <div class="sort__header">Фильтр и сортировка</div>
                <button class="sort__title">по названию</button>
                <button class="sort__price-up">цена по возрастанию</button>
                <button class="sort__price-down">цена по убыванию</button>
                <button class="sort__available">товары в наличии</button>
            </div>
            <div class="cart-link">
                <a href="./cart.html" class="cart-link__btn">Перейти в корзину</a>
            </div>
        </header>
        <main class="maincontent">
            <div class="catalog">
              
            </div>
        </main>
        <footer class="footer">
            <ul class="pagination">
                
            </ul>
        </footer>
        <script src="js/main.js"></script>
    </body>
</html>
